Youtube Clipper.json
{
  "name": "Youtube Clipper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dummy-webhook-path-12345",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        176
      ],
      "id": "3b989b5c-2fed-47c5-96c1-8d7c604e389c",
      "name": "Webhook",
      "webhookId": "dummy-webhook-path-12345"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2739e09-d55b-4ec5-9f1a-aa43888a7014",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "youtube.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "27ca947a-a131-49bc-bf70-5b817b9895b8",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "youtu.be",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -960,
        176
      ],
      "id": "b26b8aa9-1291-4bfd-ba3e-12ae075a9a96",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        -528
      ],
      "id": "146b2258-8d4e-40a0-a673-34492f2da221",
      "name": "Download Video",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=rm -f {{ $env.WORKING_DIR }}/output/temp/source.mp4\n\nwget -q -O {{ $env.WORKING_DIR }}/output/temp/source.mp4 '{{ $json.downloadUrl }}'"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -208,
        -528
      ],
      "id": "9fdf368d-92d9-43f9-8098-524c9264de38",
      "name": "Write file to disk",
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Mengambil data dari input node sebelumnya\nconst content = $json.body?.content || \"\";\nconsole.log(\"Content: \" + content);\n\nconst bodyArray = content.split('> ');\nlet url = \"\";\n\nif (bodyArray.length > 1) {\n  url = bodyArray[1].trim();\n}\n\n// PERBAIKAN: Bungkus variabel 'url' ke dalam objek json\nreturn {\n  json: {\n    url: url\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        176
      ],
      "id": "5f4f1588-8a50-4e2a-8453-5b9762bcc1ce",
      "name": "Get URL from message"
    },
    {
      "parameters": {
        "command": "=docker exec clipper_pipeline python3 run.py add_caption.py",
        "cwd": "/home/ubuntu/clipper"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        544,
        160
      ],
      "id": "a662ba9c-986a-404a-a2d0-2be66cc8de4b",
      "name": "Add Caption",
      "alwaysOutputData": false,
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c69c575-06ad-4cbf-8e2c-ab3e9220e491",
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        176
      ],
      "id": "50f559db-2094-4d5a-a66d-aabfe8a84970",
      "name": "is cached"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "h7sDV53CddomktSi5",
          "mode": "list",
          "cachedResultName": "YouTube Scraper (streamers/youtube-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/h7sDV53CddomktSi5/input"
        },
        "customBody": "={\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $('Get URL from message').item.json.url }}\"\n    }\n  ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -608,
        -528
      ],
      "id": "5d5b3dd9-9afe-47f2-b440-0dbe04e5568c",
      "name": "Get video metadata",
      "credentials": {
        "apifyApi": {
          "id": "dummy-apify-account-id",
          "name": "Apify account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "command": "=ulimit -v 3000000\n\nffmpeg -y -i {{ $env.WORKING_DIR }}/output/temp/video.mp4 -ar 16000 -ac 1 {{ $env.WORKING_DIR }}/output/temp/audio.wav\n\ntimeout 600s python3 transcribe.py\n\nif [ $? -eq 124 ]; then\n  echo \"Proses transkrip dihentikan paksa karena terlalu lama (Timeout).\"\n  exit 1\nfi",
        "cwd": "/home/ubuntu/clipper/scripts/python/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        -528
      ],
      "id": "2f074efd-0449-4c44-a761-62b22933df85",
      "name": "Transcript text (LOCAL)",
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=docker exec clipper_pipeline python3 run.py transcribe_supadata.py",
        "cwd": "/home/ubuntu/clipper"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "1009ac37-fc96-4810-b096-27867427a7b9",
      "name": "Transcript text (3rd Party)",
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1234567890123456789",
          "mode": "list",
          "cachedResultName": "octavarium project",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789"
        },
        "channelId": {
          "__rl": true,
          "value": "9876543210987654321",
          "mode": "list",
          "cachedResultName": "clipper",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789/9876543210987654321"
        },
        "content": "\ud83c\udf89 SUKSES! Clip Video sudah selesai!\nsilakan buka : https://dummy.mihankids.my.id/results/",
        "options": {},
        "embeds": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ],
      "id": "10de6a49-8730-4205-ba0a-0dca7319722a",
      "name": "Send Success",
      "webhookId": "dummy-webhook-id-67890",
      "credentials": {
        "discordBotApi": {
          "id": "dummy-discord-bot-1",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1234567890123456789",
          "mode": "list",
          "cachedResultName": "octavarium project",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789"
        },
        "channelId": {
          "__rl": true,
          "value": "1122334455667788990",
          "mode": "list",
          "cachedResultName": "clipper-test",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789/1122334455667788990"
        },
        "content": "\ud83c\udf89 SUKSES! Clip Video sudah selesai!\nsilakan buka : https://dummy.mihankids.my.id/results/",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1024,
        80
      ],
      "id": "569530d1-1052-4b02-98f3-b5ac3016bcaf",
      "name": "Send Success Test",
      "webhookId": "dummy-webhook-id-67890",
      "credentials": {
        "discordBotApi": {
          "id": "dummy-discord-bot-2",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1280,
        144
      ],
      "id": "6cf83622-9eea-4378-b82b-ab09ec362ab8",
      "name": "Upload a video"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1234567890123456789",
          "mode": "list",
          "cachedResultName": "octavarium project",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1040,
        784
      ],
      "id": "a130ee88-6c4c-4003-9018-42b15a09e415",
      "name": "Send error",
      "webhookId": "dummy-webhook-id-67890",
      "credentials": {
        "discordBotApi": {
          "id": "dummy-discord-bot-1",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1234567890123456789",
          "mode": "list",
          "cachedResultName": "octavarium project",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789"
        },
        "channelId": {
          "__rl": true,
          "value": "1122334455667788990",
          "mode": "list",
          "cachedResultName": "clipper-test",
          "cachedResultUrl": "https://discord.com/channels/1234567890123456789/1122334455667788990"
        },
        "content": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1040,
        640
      ],
      "id": "e59b588e-dd91-4713-9ecf-865ce7a07c46",
      "name": "Send error test",
      "webhookId": "dummy-webhook-id-67890",
      "credentials": {
        "discordBotApi": {
          "id": "dummy-discord-bot-2",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04537bcb-3488-4857-a260-1e25f33317ca",
              "leftValue": "={{ $execution.mode }}",
              "rightValue": "test",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        720
      ],
      "id": "e90dedb8-e0e9-4200-960d-6fc5137042fd",
      "name": "if error testing mode"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04537bcb-3488-4857-a260-1e25f33317ca",
              "leftValue": "={{ $execution.mode }}",
              "rightValue": "test",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        160
      ],
      "id": "a33f1fda-548c-44cb-9687-26998339cc72",
      "name": "if success testing mode"
    },
    {
      "parameters": {
        "url": "={{ $('Get URL from message').item.json.url }}"
      },
      "type": "@videosailor/n8n-nodes-videosailor.videoSailor",
      "typeVersion": 1,
      "position": [
        -960,
        928
      ],
      "id": "e6d686b7-68ee-46f6-9519-5049a72c50bb",
      "name": "Get url download from VideoSailor",
      "credentials": {
        "videoSailorApi": {
          "id": "dummy-videosailor-account-id",
          "name": "VideoSailor account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c69c575-06ad-4cbf-8e2c-ab3e9220e491",
              "leftValue": "={{ $json.downloadUrl }}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d33fe635-cea4-4dab-8ba6-20420fa94b63",
              "leftValue": "={{ $json.downloadUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2f1931e2-c139-4afa-87f0-ce3f8fb1518b",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8d3d8f55-8a2e-471c-bfbc-9e9e9e9febcf",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        496
      ],
      "id": "305aa232-b7d6-46fe-b7c7-66961cf6ffe9",
      "name": "is url exist"
    },
    {
      "parameters": {
        "command": "=docker exec clipper_pipeline python3 run.py director.py",
        "cwd": "/home/ubuntu/clipper"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        192,
        160
      ],
      "id": "9fc4a9c0-34b3-4cc4-b404-551fefff3dfa",
      "name": "Analyze by Director",
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=docker exec clipper_pipeline python3 run.py download_file.py --original_url \"{{ $('Get URL from message').item.json.url }}\" --download_url \"{{ $json.downloadUrl }}\" --title \"{{ $('Get Video Title').item.json.title }}\" --timeout 1200",
        "cwd": "/home/ubuntu/clipper/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -352,
        688
      ],
      "id": "f42853fa-2cbf-4c31-bece-613b73b36efc",
      "name": "Download",
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.supadata.ai/v1/metadata",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sd_010859a0b0320f84f3eb76e05124a0ce"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1136,
        496
      ],
      "id": "da3bfcfa-2694-40ad-a583-ea6f1545d82e",
      "name": "Get Video Title"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "G1dli5lUik9LaUH0N",
          "mode": "list",
          "cachedResultName": "YouTube Downloader (scraper_one/yt-downloader)",
          "cachedResultUrl": "https://console.apify.com/actors/G1dli5lUik9LaUH0N/input"
        },
        "customBody": "={\n  \"videoUrls\": [\n    \"{{ $('Get URL from message').item.json.url }}\"\n  ],\n  \"audioOnly\": false\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -960,
        704
      ],
      "id": "07853212-5a64-41a8-a419-6d94e1fb305e",
      "name": "Get download url (API KEY 2)",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "7yHdSZZ8axeULodY",
          "name": "SlaveRO Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "=G1dli5lUik9LaUH0N",
          "mode": "id"
        },
        "customBody": "={\n  \"videoUrls\": [\n    \"{{ $('Get URL from message').item.json.url }}\"\n  ],\n  \"audioOnly\": false\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -960,
        496
      ],
      "id": "0b1456b2-d697-4cf7-bb08-8d6269ee9879",
      "name": "Get download url",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "dummy-apify-account-id",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c69c575-06ad-4cbf-8e2c-ab3e9220e491",
              "leftValue": "={{ $json.downloadUrl }}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d33fe635-cea4-4dab-8ba6-20420fa94b63",
              "leftValue": "={{ $json.downloadUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        928
      ],
      "id": "3303f9d5-01fb-42d4-9bba-36cc23b2b667",
      "name": "is url exist2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c69c575-06ad-4cbf-8e2c-ab3e9220e491",
              "leftValue": "={{ $json.downloadUrl }}",
              "rightValue": "found",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d33fe635-cea4-4dab-8ba6-20420fa94b63",
              "leftValue": "={{ $json.downloadUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2f1931e2-c139-4afa-87f0-ce3f8fb1518b",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8d3d8f55-8a2e-471c-bfbc-9e9e9e9febcf",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        704
      ],
      "id": "138fa132-e286-4255-9c5e-e14462a2d2c5",
      "name": "is url exist3"
    },
    {
      "parameters": {
        "command": "docker exec clipper_pipeline python3 run.py cut_video.py",
        "cwd": "/home/ubuntu/clipper"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "ab7766a2-de79-4382-80c4-12478ab59142",
      "name": "Cut Video",
      "alwaysOutputData": false,
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=docker exec clipper_pipeline python3 run.py check_source_exists.py --url \"{{ $json.url }}\"",
        "cwd": "/home/ubuntu/clipper"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -560,
        176
      ],
      "id": "c5ae6f64-27f2-47f8-bd14-b5ce627327fd",
      "name": "Check exist video",
      "credentials": {
        "sshPassword": {
          "id": "dummy-ssh-password-id",
          "name": "SSH Password account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get URL from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        []
      ]
    },
    "Write file to disk": {
      "main": [
        []
      ]
    },
    "Get URL from message": {
      "main": [
        [
          {
            "node": "Check exist video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Caption": {
      "main": [
        [
          {
            "node": "if success testing mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if error testing mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is cached": {
      "main": [
        [
          {
            "node": "Transcript text (3rd Party)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video metadata": {
      "main": [
        []
      ]
    },
    "Transcript text (LOCAL)": {
      "main": [
        [],
        []
      ]
    },
    "Transcript text (3rd Party)": {
      "main": [
        [
          {
            "node": "Analyze by Director",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if error testing mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send error": {
      "main": [
        []
      ]
    },
    "if error testing mode": {
      "main": [
        [
          {
            "node": "Send error test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if success testing mode": {
      "main": [
        [
          {
            "node": "Send Success Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is url exist": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get download url (API KEY 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url download from VideoSailor": {
      "main": [
        [
          {
            "node": "is url exist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze by Director": {
      "main": [
        [
          {
            "node": "Cut Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if error testing mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Title": {
      "main": [
        [
          {
            "node": "Get download url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get download url": {
      "main": [
        [
          {
            "node": "is url exist",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "is url exist2": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if error testing mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get download url (API KEY 2)": {
      "main": [
        [
          {
            "node": "is url exist3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is url exist3": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get url download from VideoSailor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Transcript text (3rd Party)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cut Video": {
      "main": [
        [
          {
            "node": "Add Caption",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if error testing mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check exist video": {
      "main": [
        [
          {
            "node": "is cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "3m0pDdhhzSzU2FkE",
    "timezone": "Asia/Hong_Kong",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "19575f2a-963d-47bf-a0f0-2bad3ba6b761",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3c2bfd93c2e2d41cda384d68ec5b960d371211309fa5996c744a480f07ddd54"
  },
  "nodeGroups": [],
  "id": "RIo8gJX0wcHphsJo",
  "tags": []
}